@import url('https://fonts.googleapis.com/css?family=Croissant+One');

body{font-family: verdana;}
.no-padding {padding-right: 0 !important;  padding-left: 0 !important;}
a{text-decoration: none;color: #FFF;}
h1{font-family: 'Croissant One', cursive; margin: 0% 0% 0% 3%;}
.logo{height: 50px;}
.navbar-custom{background-color:#273042;}
header{ position: relative; color: #FFF;}
.bg{position: relative;}
.bg-img{width:100%; height:100%; position: absolute; z-index:-1;background-size: cover;}
.bg-layer{background-image:linear-gradient(to bottom right,#273042,#273042);opacity:.9; }
.datepic{width:240px ; height: 240px; padding: 2% 1% 1% 2%;margin-right:5%;}
.profile{width: 25px; height: 25px;}
.dropdown-toggle::after{display:none}
.nav-tabs{margin-left: 10%;}
.btn-danger{border-radius:24px; margin-right:2%; margin-bottom:5%;}
.vinex{background-color:#273042; opacity:.9;}
.active{border-bottom: 2px solid #dd6561;}
.item{position: relative; width:210px; height:140px; margin: 5% 0% 5% 0%; z-index:1;} 
.img-item{border-radius: 5px;}
.item-layer{display: none; position: absolute; left: 0px;top: 0px; background-color:rgba(3,3,3,0.5); z-index: 2;}
h4{display:inline-block;}
.rating{font-size: 14px; color: #ffbc00;}
.fa-star-o{color:#ffbc00;}
.fa-angle-right{position: absolute; z-index: 3;top:40%; right:2%; color: #fff;}
.fa-angle-left{position: absolute; z-index:3; top:40%; left:2%; color: #fff;}
.fa-heart-o{position: absolute; z-index:3; top:5%; right:3%; color: #fff;}
.item>img:hover .item-layer{display: block;}
#map {height: 100%;}
